html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

@keyframes appear {
  0% {
    opacity: 0;
    display: none;
    height: 0px;
    margin: 0;
  }
}

.dSpan {
  padding: 0.5em;
  background: #E7EAEE;
  border-radius: 0.5em;
  color: #39435B;
  margin: 1em;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.dhold {
  width: 100%;
}

.questionHold {
  display: flex;
  justify-content: flex-end;
}

.questionhold>* {
  margin-left: 1em;
}