html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1 {
  font-weight: 400;
  font-size: 3.4em;
  line-height: 1em;
}

h2 {
  font-weight: 400;
  font-size: 2.6em;
  line-height: 1em;
}

h3 {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1em;
}

h4 {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1em;
}

.subMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 78px;
  background: white;
  width: 100%;
  z-index: 5;
  padding-top: 1em;
  padding-bottom: 1em;
}

@keyframes buttonappear {
  0% {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding-left: 0em;
    width: 0px;
    color: transparent;
    border-radius: 35px;
    height: 0px;
  }
  100%{
    color: transparent;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    padding: 0em;
    padding-bottom: 0em;
    margin: 0em;
    margin-bottom: 0em;
    line-height: 0em;
    font-size: 0em;
  }
  25% {
    font-size: 2rem;
    opacity: 0;
    line-height: rem;
    padding: 0.5em 1em 0.5em 1em;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 0em;
    line-height: 2.5rem;
    font-size: 2rem;
  }
}

@keyframes appearb {
  0% {
    opacity: 1;
    padding: 0em;
    margin: 0em;
    padding-left: 0em;
    line-height: 0em;
    font-size: 0.25em;
    
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    padding: 0em;
    margin-bottom: 0em;
    line-height: 1em;
    font-size: 2em;
  }
}

.animationInternal {
  padding: 0em;
  margin: 0em;
}

.animationInternal>* {
  height: 0px;
}

.workHold {
  display: grid;
  grid-template-columns: 62.66% 16.66% 16.66%;
  gap: 2%;
  margin-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
}

.sectionTitle {
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.qhold {
  width: 80%;
  text-align: right;
  background: red;
}


.chatHold {
  display: flex;
  flex-flow: column;
  max-width: 850px;
  padding: 1em;
  overflow-y: scroll; /* or overflow-y: auto */
}

.chat {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  background: #F4F4F4;
  overflow-y: scroll; /* or overflow-y: auto */
  width: 100%;
 
}

.dSpan {
  padding: 0.5em;
  background: #E7EAEE;
  border-radius: 0.5em;
  color: #39435B;
  margin: 1em;
  opacity: 1;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.dhold {
  margin: 0;
  padding: 0;
}

.questionHold {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 900px;
  min-height: 35px;
  gap: 0.5em;
  padding: 1em;
  background: #ECECEC;
}


.wrapper {
  width: 100%;
}

.wrapper>*>img {
  width: 100%;
}

.projgrid {
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}


@media screen and (max-width: 700px)  {
  .projgrid {
    grid-template-columns: 1fr;
  }

  .chatHold {
    height: 50vh;
    display: flex;
    flex-flow: column;
    max-width: 850px;
    padding: 1em;
    margin-top: 83px;
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }
}
